body {
    display: grid;
    justify-content: center;
    background-color: #ecf0f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.456);
    padding: 10px;
    background-color: white;
}

.dropdown-btn {
    color: #2c3e50;
    text-decoration: none;
}

.dropdown-content {
    min-width: 120px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    top: 100%;
    left: -1px;
    border: 1px solid rgba(0, 0, 0, 0.456);
    animation: opacity 0.8s;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.395);
}

@keyframes opacity {
    from {
        opacity: 0;
    } to {
        opacity: 100;
    }
}

.dropdown:hover .dropdown-content {
    display: initial;
}

.dropdown-list {
    text-align: center;
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
}

.dropdown-item {
    padding: 10px;
    transition: background 0.6s;
}

.dropdown-item:hover {
    background-color: #bdc3c7;
}

.dropdown-link {
    text-decoration: none;
    color: #2c3e50;
}