body {
    --dark : #34495e;
    --lighter : #dcdde1;
    --light : #bdc3c7;
    --color : #c0392b;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.search-box {
    width: fit-content;
    background-color: var(--dark);
    height: 10px;
    display: flex;
    border: 2px solid var(--light);
    border-radius: 40px;
    padding: 10px;
    box-shadow: none;
    transition: border 1s;
}

.search-box:hover {
    box-shadow: var(--light) 0 0px 5px 1px;
    border-color: var(--lighter);
}

    .search-box:hover .search-txt {
        width: 150px;
        padding: 0 6px;
    }

    .search-box:hover .search-btn {
        color: var(--lighter);
    }

    .search-txt {
        align-self: center;
        height: 20px;
        width: 0px;
        color: var(--light);
        border : none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 20px;
        line-height: 16px;
        float: left;
        transition: 1s;
    }

    .search-btn {
        color: var(--light);
        width: 20px;
        height: 10px;
        border-radius: 50%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

section h1 {
    color: var(--lighter);
    text-align: center;
}

    #getSearch {
        font-weight: 900;
        font-size: 2.2rem;
        animation: search infinite 2s ease-in-out alternate;
    }

    @keyframes search {
        from {
            color: var(--lighter);
        } to {
            color: var(--color);
        }
    }